# /*
#  * Copyright (c) 2025 IBM Corporation
#  *
#  * SPDX-License-Identifier: Apache-2.0
#  *
#  *   Licensed under the Apache License, Version 2.0 (the "License");
#  *   you may not use this file except in compliance with the License.
#  *   You may obtain a copy of the License at
#  *
#  *       http://www.apache.org/licenses/LICENSE-2.0
#  *
#  *   Unless required by applicable law or agreed to in writing, software
#  *   distributed under the License is distributed on an "AS IS" BASIS,
#  *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  *   See the License for the specific language governing permissions and
#  *   limitations under the License.
#  *
#  */

{{- if .Values.routes.ui.enabled }}
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ .Values.routes.ui.name }}
  labels: {{ .Values.routes.ui.labels }}
  annotations:
    {{- range $key, $value := .Values.routes.ui.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  host: {{ .Values.routes.ui.hostName }}
  port:
    targetPort: {{ .Values.routes.ui.portName }} 
  to:
    kind: Service
    name: {{ include "common.names.fullname" . }}-ui
  {{- if .Values.routes.ui.tls }}
  tls:
    {{- if .Values.routes.ui.tls.termination }}
    termination: {{ .Values.routes.ui.tls.termination }}
    {{- end }}
    {{- if .Values.routes.ui.tls.insecureEdgeTerminationPolicy }}
    insecureEdgeTerminationPolicy: {{ .Values.routes.ui.tls.insecureEdgeTerminationPolicy }}
    {{- end }}
    {{- if .Values.routes.ui.tls.certificate }}
    certificate: {{ .Values.routes.ui.tls.certificate | quote }}
    {{- end }}
    {{- if .Values.routes.ui.tls.key }}
    key: {{ .Values.routes.ui.tls.key | quote }}
    {{- end }}
    {{- if .Values.routes.ui.tls.caCertificate }}
    caCertificate: {{ .Values.routes.ui.tls.caCertificate | quote }}
    {{- end }}
    {{- if .Values.routes.ui.tls.destinationCACertificate }}
    destinationCACertificate: {{ .Values.routes.ui.tls.destinationCACertificate | quote }}
    {{- end }}
  {{- end }}
{{- end }}


---

{{- if .Values.routes.admin.enabled }}
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ .Values.routes.admin.name }}
  labels: {{ .Values.routes.admin.labels }}
  annotations:
    {{- range $key, $value := .Values.routes.admin.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  host: {{ .Values.routes.admin.hostName }}
  port:
    targetPort: {{ .Values.routes.admin.portName }} 
  to:
    kind: Service
    name: {{ include "common.names.fullname" . }}-admin
  {{- if .Values.routes.admin.tls }}
  tls:
    {{- if .Values.routes.admin.tls.termination }}
    termination: {{ .Values.routes.admin.tls.termination }}
    {{- end }}
    {{- if .Values.routes.admin.tls.insecureEdgeTerminationPolicy }}
    insecureEdgeTerminationPolicy: {{ .Values.routes.admin.tls.insecureEdgeTerminationPolicy }}
    {{- end }}
    {{- if .Values.routes.admin.tls.certificate }}
    certificate: {{ .Values.routes.admin.tls.certificate | quote }}
    {{- end }}
    {{- if .Values.routes.admin.tls.key }}
    key: {{ .Values.routes.admin.tls.key | quote }}
    {{- end }}
    {{- if .Values.routes.admin.tls.caCertificate }}
    caCertificate: {{ .Values.routes.admin.tls.caCertificate | quote }}
    {{- end }}
    {{- if .Values.routes.admin.tls.destinationCACertificate }}
    destinationCACertificate: {{ .Values.routes.admin.tls.destinationCACertificate | quote }}
    {{- end }}
  {{- end }}
{{- end }}
