apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "kube-terracotta.fullname" . }}
  namespace: {{ template "kube-terracotta.namespace" . }}
  labels:
    app: {{ template "kube-terracotta.name" . }}-operator
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- include "kube-terracotta.labels" . | nindent 4 }}
    {{- with .Values.extraLabels -}}
    {{ toYaml . | nindent 4 }}
    {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ template "kube-terracotta.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "kube-terracotta.operator.serviceAccountName" . }}
  namespace: {{ template "kube-terracotta.namespace" . }}
