apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "kube-terracotta.operator.serviceAccountName" . }}
  namespace: {{ template "kube-terracotta.namespace" . }}
  labels:
    app: {{ template "kube-terracotta.name" . }}-operator
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- include "kube-terracotta.labels" . | nindent 4 }}
    {{- with .Values.extraLabels -}}
    {{ toYaml . | nindent 4 }}
    {{- end }}
